<template>
<div>
<div class="container">
<h1>Contacts</h1>
<form action="#" @submit.prevent="edit? updateContact(contact.id) : createContact()">

<div class="form-group">
<label>name</label>
	
<input type="text" name="name" id="name" v-model="contact.name" class="form-control">	

</div>

<div class="form-group">
<label>email</label>

<input type="text" name="email" id="email" v-model="contact.email" class="form-control">	
</div>

<div class="form-group">
<label>phone</label>

<input type="text" name="phone" id="phone" v-model="contact.phone" class="form-control">	

</div>

<div class="form-group">
	
	<button v-show="!edit" type="submit" class="btn btn-info"> Add Contact </button>
	<button @cick="updateContact(contact.id)" v-show="edit" type="submit" class="btn btn-info"> Update Contact </button>

</div>


</form>	

<h1>Contacts</h1>

<ul>
	
	<li class="list-group-item" v-for="onecontact in list"> <strong>{{onecontact.name}}</strong> | {{onecontact.email}} | {{onecontact.phone}}
	<button @click="editContact(onecontact.id)" class="btn btn-sm btn-info">Edit</button>
	<button @click="deleteContact(onecontact.id)" class="btn btn-sm btn-danger">Delete</button>
	</li>
</ul>

</div>


</div>
</template>

	<script> 

export default{

	data:function(){

      return {

      	edit:false,
      	list:[],

      	contact:{
      		id:'',
      		name:'',
      		email:'',
      		phone:'',
      	},

      };
	},
	mounted: function(){


		console.log('conatcs componenet loaded');
		this.fetchContacts();
	},
	methods:{

		fetchContacts:function(){

			axios.get('api/contacts')
			.then(response=>{

				this.list = response.data;

			}).catch((error)=>{console.log(error);
			});
		},

		createContact:function(){

			console.log('creating contact');

			let self = this;
			let params = Object.assign({},self.contact);
			axios.post('api/contact/store',params)
			.then(response=>{

				self.contact.name='';
				self.contact.email='';
				self.contact.phone='';
				self.edit=false;
				self.fetchContacts();
			});

			
		},
		updateContact:function(id){

			console.log('updating');


			let self = this;
			let params = Object.assign({},self.contact);
			axios.patch('api/contact/'+id ,params)
			.then(response=>{

				self.contact.name='';
				self.contact.email='';
				self.contact.phone='';
				self.edit=false;
				self.fetchContacts();
			});



		},

		editContact:function(id){

			let self = this;
			axios.get('/api/contact/'+id).then(response=>{

				self.contact.id = response.data.id;
				self.contact.name = response.data.name;
				self.contact.email = response.data.email;
				self.contact.phone = response.data.phone;
				self.edit = true ;
			});

		},

		deleteContact:function(id){
			console.log('deleting');
			let self = this;
			axios.delete('/api/contact/'+id).then(response=>{

				self.fetchContacts();
			});

		},


	},




}




	</script>